# Зависимости PHP
/vendor/

# Зависимости NodeJS (если используешь npm, например в Laravel)
node_modules/

# Файлы окружения
.env
.env.*.local

# Логи
*.log
/storage/logs/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/cache/

# IDE
.idea/
.vscode/

# Системные
.DS_Store
Thumbs.db
